@model MovieApp.Entity.UserModel
@{
    ViewData["Title"] = "EditUser";
}

<a asp-action="ShowUserDetails" asp-controller="User">User Details</a>
<hr/>
<h1>Register</h1>
<form method="post">
    <div class="form-group">
        <label>Firstname</label>
        <input type="text" class="form-control" asp-for="Firstname" />
    </div>
    <div class="form-group">
        <label>Lastname</label>
        <input type="text" class="form-control" asp-for="Lastname" />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" asp-for="Email" />
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="text" class="form-control" asp-for="Password" />
    </div>
    <div class="form-group">
        <label>Mobile</label>
        <input type="text" class="form-control" asp-for="Mobile" />
    </div>
    <input type="submit" value="Update" class="btn btn-primary" />
    <input type="button" value="Reset" class="btn btn-secondary" />
</form>
@if (ViewBag.status == "Success")
{
    <div class="alert alert-success">@ViewBag.message</div>
}
else if (ViewBag.status == "Error")
{
    <div class="alert alert-danger">@ViewBag.message</div>   
}
