@model MovieApp.UI.Controllers.Test
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*<form method="post">
<select asp-for="TestID" asp-items="@(new SelectList(ViewBag.list,"Value","Text"))"></select>
<input type="submit" value="Test" />
</form>*@